#logo img {
    margin-left: 0;
    margin-right: auto;
    max-width: 249px;
    background-color: rgba(0, 0, 0, 0);
}

.btn.btn-primary{
    background-color: transparent;
    color: #0097b2;
    border-color: #0097b2;
    }
    
.btn.btn-primary:hover,
.btn.btn-primary:focus{
    background-color: #0097b2;
    color: white;
    }

.form-control:focus,
.form-control:active,
.form-control:hover{
    border-color: #0097b2;
    box-shadow: none;
}

#carouselExampleIndicators{
    margin: 20px;
}

.navbar.navbar-expand-lg{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
} 

body{
    margin-top: 120px;
}

.card-recommended {
    float: left;
    
    width: 300px;
    margin: 20px;
    border-color: #0097b2;
    margin-right: 150px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 20px;
    }

.card-recommended:hover,
.card-recommended:focus {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    }

#accordionFlushExample{
    width: 320px;
    position: fixed;
    margin-left: 30px;
    color-scheme:var(--bs-nav-link-color);
}

.body-container{
    margin-left: 400px;
}

.sale{
    position: relative;
    text-align: center;
    margin-top: 30px;
    color: var(--bs-gray-600);
    font-size: 19pt;
    padding-bottom: 4px;
  }

  .sale:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40px;
    height: 4px;
    margin: 0 auto;
    background-color: #0097b2;
  }

  .card-img-top{
    margin-bottom: 10px;
  }

  #signup{
    border-color: var(--bs-gray-700);
    color:var(--bs-gray-700);
    margin-left: 5px;
  }
  #signup:hover{
    background-color: var(--bs-gray-700);
    color:white;
  }
