{% load static %}

<div class="tab-pane fade show active" id="cart" role="tabpanel" aria-labelledby="cart-tab">
    <h2>Shopping Cart</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <td>{{ cart.product.name }}</td>
                <td>{{ cart.product.sell_price }}</td>
                <td>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary btn-decrease" type="button">-</button>
                        </div>
                        <input type="text" class="form-control text-center" value="{{ cart.total_quantity }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-increase" type="button">+</button>
                        </div>
                    </div>
                </td>
                <td>{{ cart.products_price }}</td>
                <td><button class="btn btn-danger btn-remove">Remove</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <p class="cart-total">Total: {{ cart.products_price }}</p>
        <button class="btn btn-success">Checkout</button>
    </div>
</div>
