{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
            
        {% block menu %}
        <div class="col-md-3" id="sidemenu">
          <div class="row">
              <div class="col-4 col-sm-3 col-lg-6" id="sidebar{{ forloop.counter }}">
                  {% tag_categories as categories %}
                  {% for category in categories %}
                  <div class="nav flex-column py-2">
                      <a href="#menu{{ forloop.counter }}" class="nav-link collapsed text-truncate" data-bs-toggle="collapse" role="button"><b>{{ category.name }}</b></a>
                      <div class="collapse ps-2 {% if category.slug in path_slug %}show{% endif %}" id="menu{{ forloop.counter }}" data-bs-parent="#sidebar{{ forloop.counter }}">
                        {% tag_subcategories as subcategories %}
                        {% for subcategory in subcategories %}
                          {% if subcategory.category_id == category.pk %}
                          <a href="{% url "catalog:index" subcategory.slug %}" class="nav-link {% if path_slug == subcategory.slug %}active{% endif %}" id="subcategory-link">{{ subcategory.name }}</a>
                          {% endif %}
                          {% endfor %}
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
      {% endblock %}


        {% block carousel %}

        <div class="col" id="carouselExampleControls">
          <!-- Sorting catalog-->
          <div class="col" id="filter-dropdown">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.GET.order_by %}
            {% if request.GET.order_by == 'price' %}
                Low to high
            {% elif request.GET.order_by == '-price' %}
                High to low
            {% else %}
                Default
            {% endif %}
                {% else %}
                  Default
                {% endif %}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <form action="" method="get">
                  <li>
                  <button class="dropdown-item" type="submit" name="order_by" value="default">
                    Default
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="submit" name="order_by" value="price">
                    Low to high
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="submit" name="order_by" value="-price">
                    High to low
                  </button>
                </li>
                <!-- get value for filter -->
                  <input type="hidden" name="min_price" value="{{ min_price }}">
                  <input type="hidden" name="max_price" value="{{ max_price }}">
              </form>
              </ul>
	

              <!-- Filter catalog-->
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Price
              </button>
              <ul class="dropdown-menu" id="dropdown-price" aria-labelledby="dropdownMenuButton1">
                <form action="" method="get" class="row">
                  <div class="col col-sm-5">
                    <label for="exampleInputMin" class="form-label">Min</label>
                    <input type="text" class="form-control" id="exampleInputMin" name="min_price" value="{{ min_price }}">
                  </div>
                  <div class="col col-sm-5">
                    <label for="exampleInputMax" class="form-label">Max</label>
                    <input type="text" class="form-control" id="exampleInputMax" name="max_price" value="{{ max_price }}">
                  </div>
                  <div class="d-grid gap-4 d-md-block">
                  <a href="{% url "catalog:index" slug_url %}" role="button" class="btn btn-light">Reset</a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <!-- get value for order_by -->
                 <input type="hidden" name="order_by" value="{{ order_by }}">
                </form>
              </ul>
            </div>
            </div>  

                    <!-- Catalog cards -->
                    {% for product in goods %}
                    <div class="card-recommended" style="width: 18rem;">
                    {% if product.image != 'None' %}
                    <img class="card-img-top rounded" src="https://{{ product.image }}" alt={{ product.name }}>
                    {% else %}
                    <img src = "{% static "main/images/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" %}" class="card-img-top rounded" alt={{ product.name }}>
                    {% endif %}
                    <div class="card-body">
                    {% comment %} <a href="{% url "catalog:product" product.slug %}"> {% endcomment %}
                    <h5 class="card-title">
                        {{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                    </div>
                    {% endfor %}
                    </div>              
        {% endblock %}
        
        <!-- Pagination -->
        {% block pagination %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
                
                <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %} {% else %} # {% endif %}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  
                </a>
              </li>
              {% for page in goods.paginator.page_range %}
              {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
              <li class="page-item {% if goods.number == page %} active {% endif %}"><a class="page-link" href="?{% change_params page=page %}">{{ page }}</a></li>
              {% endif %}
              {% endfor %}
              <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
                
                <a class="page-link" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %} {% else %} # {% endif %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  
                </a>
              </li>
            </ul>
          </nav>
        {% endblock %}
