{% extends "base.html" %}
{% load static %}
            
        {% block menu %}
        <div class="col-1">
        <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Cats
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Food</div>
            <div class="accordion-body">Toys</div>
            <div class="accordion-body">Cat carrier</div>
            <div class="accordion-body">Beds</div>
            <div class="accordion-body">Doors</div>
            <div class="accordion-body">Clothing</div>
            <div class="accordion-body">Treats</div>
            <div class="accordion-body">Litter</div>
            <div class="accordion-body">Health Care</div>
            <div class="accordion-body">Collars</div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Dogs
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Food</div>
            <div class="accordion-body">Toys</div>
            <div class="accordion-body">Beds</div>
            <div class="accordion-body">Clean up</div>
            <div class="accordion-body">Clothing & Apparel</div>
            <div class="accordion-body">Collars</div>
            <div class="accordion-body">Doors</div>
            <div class="accordion-body">Grooming</div>
            <div class="accordion-body">Health Care</div>
            <div class="accordion-body">Treats</div>
            <div class="accordion-body">Training</div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Birds
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Food</div>
            <div class="accordion-body">Toys</div>
            <div class="accordion-body">Grooming</div>
            <div class="accordion-body">Treats</div>
            <div class="accordion-body">Litter</div>
            <div class="accordion-body">Health Care</div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Small pets
        </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Food</div>
        <div class="accordion-body">Toys</div>
        <div class="accordion-body">Treats</div>
        <div class="accordion-body">Grooming</div>
        <div class="accordion-body">Litter</div>
        <div class="accordion-body">Health Care</div>
        </div>
        </div>
        </div>
        </div>
        {% endblock %}


        {% block carousel %}
        <div class="col" id="blocksOne">
        {% for product in goods %}
                    <div class="card-recommended" style="width: 18rem;">
                    <img class="card-img-top rounded" src="{% static "main/images/large_96_52_96_10_nd-prime-adult-mini-wild-boar-apple-800x1066.png" %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">
                        {{ product.description }}</h5>
                    <p class="card-text text-truncate">{{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                    </div>
                    {% endfor %}
                    </div>              
        {% endblock %}