{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            <img src="{% static "main/images/0d64989794b1a4c9d89bff571d3d5842.jpg" %}" alt="User Avatar">

        </div>
        <div class="profile-info">
            <h5>{{ form.first_name.value }} {{ form.last_name.value }}</h5>
            <p>First Name: {{ form.first_name.value }}</p>
            <p>Last Name: {{ form.last_name.value }}</p>
            <p>Username: {{ form.username.value }}</p>
            <p>Email: {{ form.email.value }}</p>
            <button class="btn btn-primary" id="edit-profile">Edit Profile</button>
            <button class="btn btn-primary" id="edit-password">Edit Password</button>
        </div>
        <div class="edit-form">
            <form action="{% url "user:profile" %}" method="post">
                {% csrf_token %}
                <input type="file" class="form-control mt-3" id="id_image" name="image" accept="image/*">
                <div class="form-group">
                    <label for="id_first_name">First name</label>
                    <input type="text" class="form-control" id="id_first_name" name="first_name" value="{% if form.first_name.value %} {{ form.first_name.value }} {% endif %}" placeholder="Enter first name" required>
                    {% if form.first_name.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.first_name.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last name</label>
                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{% if form.last_name.value %} {{ form.last_name.value }} {% endif %}" placeholder="Enter last name" required>
                    {% if form.last_name.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.last_name.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" class="form-control" id="id_username" name="username" value="{% if form.username.value %} {{ form.username.value }} {% endif %}" placeholder="Enter username" required>
                    {% if form.username.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.username.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_email">Email address</label>
                    <input type="email" class="form-control" id="id_email" name="email" value="{% if form.email.value %} {{ form.email.value }} {% endif %}" placeholder="Enter email" required>
                    {% if form.email.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.email.errors }}</div>{% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
                <button type="button" class="btn btn-secondary" id="cancel-edit">Cancel</button>
            </form>
        </div>

        <div class="edit-password-form">
            <form action="{% url "user:change_password" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ id_old_password }}" class="form-label">Password</label>
                    <input type="password" name="old_password" value="{{ form.old_password.value }}" class="form-control" id="id_old_password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="id_new_password1">Password</label>
                    <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Password" required>
                    {% if form.new_password1.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.new_password1.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_new_password2">Confirm Password</label>
                    <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirm password" required>
                    {% if form.new_password2.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.new_password2.errors }}</div>{% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
                <button type="button" class="btn btn-secondary" id="cancel-edit-password">Cancel</button>
            </form>
        </div>
    </div>
    <div class="profile-tabs">
        <ul class="nav nav-tabs" id="profileTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="true">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Order History</a>
            </li>
        </ul>
        <div class="tab-content" id="profileTabContent">
            {% include "carts/includes/included_cart.html" %}
            {% comment %} <div class="tab-pane fade show active" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                <h5>Cart Items</h5>
                <div class="cart-item d-flex align-items-center">
                    <div class="mr-3">
                        <p>Product 1</p>
                        <div class="ml-auto" id="product-quantity">
                            <button class="btn btn-secondary btn-sm">-</button>
                            <span>2</span>
                            <button class="btn btn-secondary btn-sm">+</button>
                            <button class="btn btn-danger btn-sm">Remove</button>
                        </div>
                        <p>Price: $20.00</p>
                    </div>
                    
                </div> {% endcomment %}
            </div>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <h5>Order History</h5>
                <div class="order-item">
                    <p>Order #12345</p>
                    <p>Date: 01/01/2023</p>
                    <p>Total: $50.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}