{% extends "base.html" %}
{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

{% block content %}
<div class="signup-container">
    <div class="signup-header">
        <h2>Register</h2>
    </div>
    <form action="{% url "user:signup" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">First name</label>
            <input type="text" class="form-control" id="id_first_name" name="first_name" value="{% if form.first_name.value %} {{ form.first_name.value }} {% endif %}" placeholder="Enter first name" required>
            {% if form.first_name.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.first_name.errors }}</div>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_last_name">Last name</label>
            <input type="text" class="form-control" id="id_last_name" name="last_name" value="{% if form.last_name.value %} {{ form.last_name.value }} {% endif %}" placeholder="Enter last name" required>
            {% if form.last_name.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.last_name.errors }}</div>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" name="username" value="{% if form.username.value %} {{ form.username.value }} {% endif %}" placeholder="Enter username" required>
            {% if form.username.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.username.errors }}</div>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_email">Email address</label>
            <input type="email" class="form-control" id="id_email" name="email" value="{% if form.email.value %} {{ form.email.value }} {% endif %}" placeholder="Enter email" required>
            {% if form.email.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.email.errors }}</div>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" required>
            {% if form.password1.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.password1.errors }}</div>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_password2">Confirm Password</label>
            <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirm password" required>
            {% if form.password2.errors %}<div class="alert alert-danger alert-dissmissble fade show custom-alert">{{ form.password2.errors }}</div>{% endif %}
        </div>
        <button type="submit" id="signup-button" class="btn btn-primary btn-block">Sign up</button>
    </form>
</div>
{% endblock %}
