#logo img {
  margin-left: 30px;
  margin-right: auto;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0);
}

.btn.btn-primary{
  background-color: transparent;
  color: #0097b2;
  border-color: #0097b2;
  }
  
.btn.btn-primary:hover,
.btn.btn-primary:focus{
  background-color: #0097b2;
  border-color: #0097b2;
  color: white;
  }

.form-control:focus,
.form-control:active,
.form-control:hover{
  border-color: #0097b2;
  box-shadow: none;
}

#carouselExampleIndicators{
  margin-left: 0px;
}

.navbar.navbar-expand-lg{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
} 

body{
  margin-top: 120px;
}

.card-recommended {
  float: left;
  width: 100px;
  margin: 30px;
  border-color: #0097b2;
  display: block;
  flex-wrap: wrap;
  height: 450px;
  padding-left: 10pt;
  padding-top:10pt;
  border: 1px solid var(--bs-gray-300);;
  border-radius: 0.5rem;
  }

.card-recommended:hover,
.card-recommended:focus {
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  border-radius: 10px;
  }

.sale{
  position: relative;
  text-align: center;
  margin-top: 30px;
  color: var(--bs-gray-600);
  font-size: 19pt;
  padding-bottom: 4px;
}

.sale:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 4px;
  margin: 0 auto;
  background-color: #0097b2;
}

.card-img-top{
  margin-bottom: 10px;
}

#signup{
  border-color: var(--bs-gray-700);
  color:var(--bs-gray-700);
  margin-right: 30px;
  margin-left: 5px;
}
#signup:hover,
#signup:active,
#signup:focus{
  background-color: var(--bs-gray-700);
  color:white;
}

#blocksOne{
  margin-left: 300px;
}

#blocksTwo{
  margin-left: 300px;
}

#sidebar {
  margin-left: 50px;
  border: 1px solid var(--bs-gray-300);
  border-radius: 0.5rem;
}

#sidebar a {
  color:var(--bs-gray-700);
  font-size: 16px; 
}

.breadcrumb a{
  color:var(--bs-gray-600);
  margin-left: 50px;
}

.pagination{
  align-items: center;
  justify-content: center;
}

.pagination a{
  color:#0097b2;
}

.active>.page-link, .page-link.active{
  background-color:#0097b2;
  border-color:#0097b2;
  color:white;
}

#filter-dropdown button {
  color:var(--bs-gray-600);
  background-color: var(--bs-gray-100);
  margin-left: 20px;
}

.dropdown-menu label{
  color:var(--bs-gray-600);
  background-color: var(--bs-gray-100);
  margin-left: 0.5em;
}

#dropdown-price{
  width: 14rem;
}

#dropdown-price button{
  margin-left: 31px;
  margin-top: 10px;
  background-color: transparent;
  color: #0097b2;
  border-color: #0097b2;
}

#dropdown-price input{
  margin-left: 20px;
}

#dropdown-price label{
  margin-left: 20px;
}

#dropdown-price button:hover,
#dropdown-price button:focus{
  background-color: #0097b2;
  border-color: #0097b2;
  color: white;
  }

.card-body h5{
      -webkit-line-clamp: 2;
      display: -webkit-box; 
      -webkit-box-orient: vertical;
      overflow: hidden; 
}

.dropdown-menu a {
  margin-left: 20px;
  margin-top: 10px;
  color: var(--bs-gray-600)
}

#subcategory-link:hover,
#subcategory-link:active,
#subcategory-link:focus{
  color: #0097b2;
}

#sidebar a.nav-link.active{
  font-weight: bold;
  color: #0097b2;
}
