{% load static %}
{% load goods_tags %}

{% load carts_tags %}
{% user_carts request as carts %} 

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "font/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Favicons for different platforms 
    <link rel="apple-touch-icon" sizes="180x180" href="deps/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "main/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "main/favicon-16x16.png" %}">
    <link rel="manifest" href="deps/favicon/site.webmanifest">-->
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo-img">
            <a href="{% url "main:index" %}">
            <div id="logo">
                <img src="{% static "main/images/logo.png" %}">
            </div>
          </a>
          </div>
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search" action="{% url "catalog:search" %}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item" id="cart-button">     
                        <a class="nav-link" href="{% url "user:users_cart" %}"><i class="bi bi-cart"></i> Cart <span class="badge bg-secondary">{{ carts.total_quantity }}</span></a>   
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">      
                  <a class="nav-link flexible-link" href="{% url "user:login" %}">Log in</a>  
                </li>
                {% else %}
                <li class="nav-item">      
                  <a class="nav-link flexible-link" href="{% url "user:profile" %}">Profile</a>  
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">      
                  <a class="btn btn-primary" id="signup" href="{% url "user:signup" %}">Sign up</a>
                </li>
                {% else %}
                <li class="nav-item">      
                  <a class="btn btn-primary" id="logout" href="{% url "user:logout" %}">Log out</a>
                </li>  
                {% endif %}   
            </ul>
        </nav>
    </header>

      <div class="body-container">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "main:index" %}">Home</a></li>
          </ol>
        </nav>
                

                <div class="row">
                  {% include "includes/alert_message.html" %}
                        {% block menu %}
                        {% endblock %}

                        
                
                        {% block content %}
                        {% endblock %}
                </div>

                          {% block cardblocksone %}
                          {% endblock %}
                  
                          {% block cardblockstwo %}
                          {% endblock %}
      </div> 
      {% block pagination %}
      {% endblock %}

                      <div class="container">
                        <footer class="py-3 my-4">
                          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                            <li class="nav-item"><a href="{% url "main:index" %}" class="nav-link px-2 text-muted">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Profile</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                            <li class="nav-item"><a href="{% url "main:about" %}" class="nav-link px-2 text-muted">About</a></li>
                          </ul>
                          <p class="text-center text-muted">© 2024 PetShop, Inc</p>
                        </footer>
                      </div>

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static "jquery.js" %}"></script>
</body>

</html>