{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "main/style.css" %}">
    <!-- Favicons for different platforms 
    <link rel="apple-touch-icon" sizes="180x180" href="deps/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "main/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "main/favicon-16x16.png" %}">
    <link rel="manifest" href="deps/favicon/site.webmanifest">-->
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a href="index.html">
                <div id="logo">
                    <img src="{% static "main/images/logo.png" %}">
                </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit" >Search</button>
                    </form>
                </div>
            </div>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item">      
                        <a class="nav-link" href="carts/cart.html"><i class="bi bi-cart"></i> Cart</a>   
                </li>
                <li class="nav-item">      
                  <a class="nav-link" href="carts/login.html">Log in</a>  
                </li>
                <li class="nav-item">      
                  <button class="btn btn-primary" id="signup" type="submit" >Sign up</button>  
                </li>
                    {% comment %} <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="carts/cart.html">Cart</a></li>
                        <li><a class="dropdown-item" href="users/profile.html">Account</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Admin panel</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul> {% endcomment %}
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="menu">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Cats
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Food</div>
                    <div class="accordion-body">Toys</div>
                    <div class="accordion-body">Cat carrier</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Dogs
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Food</div>
                    <div class="accordion-body">Toys</div>
                    <div class="accordion-body">Beds</div>
                    <div class="accordion-body">Clean up</div>
                    <div class="accordion-body">Clothing & Apparel</div>
                    <div class="accordion-body">Collars</div>
                    <div class="accordion-body">Doors</div>
                    <div class="accordion-body">Grooming</div>
                    <div class="accordion-body">Health Care</div>
                    <div class="accordion-body">Treats</div>
                    <div class="accordion-body">Training</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Birds
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Food</div>
                    <div class="accordion-body">Toys</div>
                    <div class="accordion-body">Cat carrier</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      Small pets
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Food</div>
                    <div class="accordion-body">Toys</div>
                    <div class="accordion-body">Cat carrier</div>
                  </div>
                </div>
              </div>
        </div>
        <!-- Контент -->
        <div class="body-container">
            <div class="row mt-1">
                <div class="col-lg-11">
                    <!-- Контент на странице -->
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static "main/images/osso.png" %}" class="d-block w-100" alt="1">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static "main/images/happy-dog.png" %}" class="d-block w-100" alt="2">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static "main/images/whiskas-mix.png" %}" class="d-block w-100" alt="3">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
                <div class="col-lg-2">
                    <!-- Пустой блок на Ваше усмотрение -->
                </div>
                <div class="sale">SALE</div>
                <div class="col-lg-12">
                    <div class="card-recommended" style="width: 18rem;">
                        <img class="card-img-top rounded" src="{% static "main/images/large_96_52_96_10_nd-prime-adult-mini-wild-boar-apple-800x1066.png" %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">
                            Farmina N&D Prime adult food</h5>
                          <p class="card-text">FARMINA N&D Prime Dry Dog Food, Adult, Grain-Free, 5-kg, Wild boar and Apple.</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                      </div>

                      <div class="card-recommended" style="width: 18rem;">
                        <img class="card-img-top rounded" src="{% static "main/images/hc_sterilised_adult_atlantik_lac-800x1066.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Happy cat for sterilised</h5>
                          <p class="card-text">The balanced complete food, with its reduced fat content and the optimum amounts of satisfying fibre, helps your cat keep to their ideal weight. </p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                      </div>

                      <div class="card-recommended" style="width: 18rem;">
                        <img class="card-img-top rounded" src="{% static "main/images/6118765707-800x1066.jpg"%}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Best dinner for adult&kitten</h5>
                          <p class="card-text">Best Dinner Adult & Kitten Beef & Potato, 5 kg</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                      </div>
                      
                </div>
                <div class="col-lg-2">
                  <!-- Пустой блок на Ваше усмотрение -->
              </div>
                <div class="sale">RECOMMENDED</div>
                    <div class="col-lg-12">
                        <div class="card-recommended" style="width: 18rem;">
                            <img class="card-img-top rounded" src="{% static "main/images/6005106761.jpg" %}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Royal Canin Adult Persian</h5>
                              <p class="card-text">Exclusive formula - Omega 3 & Omega 6 fatty acids.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>
    
                          <div class="card-recommended" style="width: 18rem;">
                            <img class="card-img-top rounded" src="{% static "main/images/6005117905.jpg" %}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Royal Canin Urinary Care</h5>
                              <p class="card-text">Balanced and complete feed for adult cats - Recommended to help maintain urinary tract health.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>
    
                          <div class="card-recommended" style="width: 18rem;">
                            <img class="card-img-top rounded" src="{% static "main/images/6005117965.jpg"%}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Royal Canin Hair&Skin Care</h5>
                              <p class="card-text">Balanced and complete feed for adult cats - Recommended to support a healthy skin and coat.</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>
            </div>          
        </div>
    </section>
    <footer class="py-4 bg-light">
        <div class="container">
            <p class="m-0 text-center">Copyright &copy; Moonlight 2024</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>