{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
                {% block menu %}
                <div class="col-md-3" id="sidemenu">
                  <div class="row">
                      <div class="col-4 col-sm-3 col-lg-6" id="sidebar{{ forloop.counter }}">
                          {% tag_categories as categories %}
                          {% for category in categories %}
                          <div class="nav flex-column py-2">
                              <a href="#menu{{ forloop.counter }}" class="nav-link collapsed text-truncate" data-bs-toggle="collapse" role="button"><b>{{ category.name }}</b></a>
                              <div class="collapse ps-2 {% if category.slug in path_slug or forloop.first %}show{% endif %}" id="menu{{ forloop.counter }}" data-bs-parent="#sidebar{{ forloop.counter }}">
                                {% tag_subcategories as subcategories %}
                                {% for subcategory in subcategories %}
                                  {% if subcategory.category_id == category.pk %}
                                  <a href="{% url "catalog:index" subcategory.slug %}" class="nav-link {% if path_slug == subcategory.slug %}active{% endif %}" id="subcategory-link">{{ subcategory.name }}</a>
                                  {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              {% endblock %}

                  {% block carousel %}
                              <div class="col-md-8">
                                  <!-- Контент на странице -->
                                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active">
                                          <img src="{% static "main/images/osso.png" %}" class="d-block w-100" alt="1">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="{% static "main/images/happy-dog.png" %}" class="d-block w-100" alt="2">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="{% static "main/images/whiskas-mix.png" %}" class="d-block w-100" alt="3">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                  </div>
                              </div>
                              {% endblock %}

                            
                          {% block cardblocksone %}
                          
                    <div class="row justify-content-center" id="blocksOne">
                                    <div class="sale">SALE</div>
                                    <div class="col-lg-10">
                                          <div class="card-recommended" style="width: 18rem;">
                                            <img class="card-img-top rounded" src="{% static "main/images/large_96_52_96_10_nd-prime-adult-mini-wild-boar-apple-800x1066.png" %}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">
                                                Farmina N&D Prime adult food</h5>
                                              <p class="card-text text-truncate">FARMINA N&D Prime Dry Dog Food, Adult, Grain-Free, 5-kg, Wild boar and Apple.</p>
                                              <a href="#" class="btn btn-primary">Add to cart</a>
                                            </div>
                                          </div>

                                          <div class="card-recommended" style="width: 18rem;">
                                            <img class="card-img-top rounded" src="{% static "main/images/hc_sterilised_adult_atlantik_lac-800x1066.jpg" %}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Happy cat for sterilised</h5>
                                              <p class="card-text text-truncate">The balanced complete food, with its reduced fat content and the optimum amounts of satisfying fibre, helps your cat keep to their ideal weight. </p>
                                              <a href="#" class="btn btn-primary">Add to cart</a>
                                            </div>
                                          </div>

                                          <div class="card-recommended" style="width: 18rem;">
                                            <img class="card-img-top rounded" src="{% static "main/images/6118765707-800x1066.jpg"%}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Best dinner for adult&kitten</h5>
                                              <p class="card-text text-truncate">Best Dinner Adult & Kitten Beef & Potato, 5 kg</p>
                                              <a href="#" class="btn btn-primary">Add to cart</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>
                            {% endblock %}
                            {% block cardblockstwo %}
                                        <div class="row justify-content-center" id="blocksTwo">
                                        <div class="sale">RECOMMENDED</div>
                                          <div class="col-lg-10">
                                            <div class="card-recommended" style="width: 18rem;">
                                                <img class="card-img-top rounded" src="{% static "main/images/6005106761.jpg" %}" alt="Card image cap">
                                                <div class="card-body">
                                                  <h5 class="card-title">Royal Canin Adult Persian</h5>
                                                  <p class="card-text text-truncate">Exclusive formula - Omega 3 & Omega 6 fatty acids.</p>
                                                  <a href="#" class="btn btn-primary">Add to cart</a>
                                                </div>
                                              </div>
                    
                                            <div class="card-recommended" style="width: 18rem;">
                                              <img class="card-img-top rounded" src="{% static "main/images/6005117905.jpg" %}" alt="Card image cap">
                                              <div class="card-body">
                                                <h5 class="card-title">Royal Canin Urinary Care</h5>
                                                <p class="card-text text-truncate">Balanced and complete feed for adult cats - Recommended to help maintain urinary tract health.</p>
                                                <a href="#" class="btn btn-primary">Add to cart</a>
                                              </div>
                                            </div>
                    
                                            <div class="card-recommended" style="width: 18rem;">
                                              <img class="card-img-top rounded" src="{% static "main/images/6005117965.jpg"%}" alt="Card image cap">
                                              <div class="card-body">
                                                <h5 class="card-title">Royal Canin Hair&Skin Care</h5>
                                                <p class="card-text text-truncate">Balanced and complete feed for adult cats - Recommended to support a healthy skin and coat.</p>
                                                <a href="#" class="btn btn-primary">Add to cart</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div> 
                                      </div>
                                      {% endblock %}